go 1.26.0

use (
	./account-service
	./communication-service
	./dispatch-service
	./finance-service
	./location-service
	./merchant-service
	./pricing-service
	./reviewrating-service
	./shop-order-service
	./translog-service
)
